@import "../../../../assets/scss/aip.scss";
.experience-product {
    h2 {
        color: $neutral-900;
        font-size: 28px;
        line-height: 40px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .ant-tabs-tab-active.ant-tabs-tab {
        border: 0 !important;
        color: $secondary-600 !important;
        margin-right: 0 !important;
        font-weight: 600 !important;
    }
    .ant-tabs-tab {
        margin: 0;
        color: $neutral-600;
        font-size: 14px;
    }
}