@import "../../../../assets/scss/aip.scss";
.feedback {
    h2 {
        font-size: 28px;
        line-height: 40px;
        color: $neutral-900;
        font-weight: 600;
        margin: 0;
    }
    &>p {
        color: $neutral-600;
        font-size: 14px;
        line-height: 20px;
    }
    &__send {
        margin-top: 32px;
        h3 {
            color: $neutral-900;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            margin: 0;
        }
        .ant-radio-wrapper {
            span {
                color: $neutral-900;
            }
        }
        .ant-radio-wrapper.ant-radio-wrapper-checked {
            span {
                color: $secondary-600;
            }
        }
        .input-title {
            height: 56px;
            font-size: 16px;
            margin-top: 10px;
        }
        .input-message {
            font-size: 16px;
            padding: 10px 16px;
        }
        .submit {
            background-color: $secondary-600;
            height: 56px;
            width: 200px;
            span {
                font-size: 18px;
                line-height: 28px;
                font-weight: 700;
            }
            &:hover {
                background-color: $secondary-700;
            }
        }
    }
}