@import "../../../../assets/scss/aip.scss";
.chart {
    margin-top: 22px;
    .ant-tabs-bar {
        border-bottom: 0;
    }
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
        width: 0 !important;
    }
    .ant-tabs-nav-container {
        margin-bottom: 60px;
    }
    .ant-tabs-nav.ant-tabs-nav-animated {
        margin-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        border: 1px solid $neutral-400;
        border-radius: 4px;
    }
    .ant-tabs-tab-active.ant-tabs-tab {
        font-weight: 600 !important;
        color: $neutral-900 !important;
        margin-right: 0 !important;
        border: 0 !important;
        background-color: $neutral-100 !important;
    }
    .ant-tabs-tab {
        margin: 0;
        color: $neutral-600;
        font-size: 14px;
        line-height: 20px;
        &:first-child {
            border-right: 1px solid $neutral-400 !important;
        }
    }
}

.ant-select-dropdown {
    width: 120px !important;
    min-width: 120px !important;
}

.ant-select-selection--single .ant-select-selection__rendered {
    margin-top: 9px;
    margin-left: 18px;
}

.ant-select-selection-selected-value {
    font-size: 14px !important;
    line-height: 20px;
    color: $neutral-900;
}