@import "../../../../assets/scss/aip.scss";
.face-matching {
    p {
        text-align: right !important;
        color: $neutral-900;
        padding: 8px;
        span {
            color: $secondary-600;
            font-weight: 600;
        }
    }
    .execute {
        margin-top: 10px;
        &__image {
            display: flex;
            justify-content: space-between;
            gap: 10%;
        }
        &__button {
            margin: 50px auto;
            text-align: center;
            .ant-btn {
                height: 56px;
                width: 200px;
                span {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 700;
                    color: $neutral-500;
                }
            }
        }
    }
}