@import "../../../../assets/scss/aip.scss";
.token {
    h2 {
        font-size: 28px;
        line-height: 40px;
        color: $neutral-900;
        font-weight: 600;
    }
    .ant-alert-warning {
        background-color: transparent;
        border: 0;
        width: 41%;
        padding-left: 30px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 40px;
        .ant-alert-message {
            color: $neutral-900;
            font-size: 14px;
            line-height: 20px;
        }
        .ant-alert-icon {
            left: 2px;
        }
    }
    h2 {
        font-weight: 600;
        color: $neutral-900;
    }
    &__id,
    &__key {
        input {
            height: 56px;
            width: 100%;
            border: 1px solid $neutral-400;
            padding: 16px 18px;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: $neutral-100;
            outline: none;
        }
    }
    &__input {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 50%;
        position: relative;
    }
    .ant-btn:hover {
        border-color: $neutral-400;
    }
    .action {
        position: absolute;
        right: 0;
        top: 0;
        button {
            width: 56px;
            height: 56px;
            border-color: $neutral-400;
        }
        .eye {
            border-radius: 0;
            border-right: 0;
        }
        .copy {
            border-radius: 0 4px 4px 0;
        }
        .anticon svg {
            font-size: 22px;
        }
    }
    &__access {
        .access-data {
            border: 1px solid $neutral-400;
            border-radius: 4px;
            background-color: $neutral-100;
            padding: 16px;
            position: relative;
            .eye {
                border-radius: 0;
                border-right: 0;
                border-top: 0;
            }
            .copy {
                border-radius: 0 4px 0px 0;
                border-right: 0;
                border-top: 0;
            }
        }
    }
}

.ant-message {
    top: 100px !important;
}

.ant-message-notice {
    text-align: right !important;
    .ant-message-notice-content {
        background-color: $secondary-100;
        border: 1px solid $secondary-600;
        padding-right: 60px;
    }
    span {
        color: $neutral-900;
        font-size: 14px;
        line-height: 20px;
    }
}